body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    justify-content: space-around;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30em;
    align-items: center;
}