body section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: 3;
    background-color: red;
    width: 50em;
}

h1 {
    padding-top: 1em;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    justify-content: space-around;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30em;
    align-items: center;
}

.board {
    width: 30em;
    height: 30em;
    display: grid;
    background-color: white;
    border: solid black 2px;
}